.CheckoutContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.CheckoutOptions {
  width: 100%;
}

.GoBack {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  height: 50px;
  margin: 35px;
  width: 50px;
}
